<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Smart Temp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <ng-container *ngIf="user$ | async as user; else notUser">
          <li class='nav-item'>
            <button mat-raised-button color="primary" (click)="logout()"> Wyloguj się </button>
          </li>
        </ng-container>
        <ng-template #notUser>
          <li class='nav-item'>
            <a class="nav-link" aria-current="page" routerLink='logowanie' routerLinkActive='active'>Logowanie</a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
